@color-background: #F7F7F7;
@color-background-alt: #FCFCFC;
@color-border: #e2e1e5;
@color-highlight: #000;
@color-text-blend: #969696;

@2px: 2px;
@4px: 4px;
@8px: 8px;
@16px: 16px;
@24px: 24px;
@32px: 32px;

@font-face {
    font-family: "editor-regular";
    src: url("../fonts/ia-writer/iAWriterMonoS-Regular.woff") format("woff");
}

@font-face {
    font-family: "editor-bold";
    src: url("../fonts/ia-writer/iAWriterMonoS-Bold.woff") format("woff");
}

@font-face {
    font-family: "editor-italic";
    src: url("../fonts/ia-writer/iAWriterMonoS-Italic.woff") format("woff");
}

@font-default: "Helvetica", "Arial", sans-serif;

#tinymde-root {
    font-smooth: never;
    border: 1px solid @color-border;
    background-color: @color-background;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    #tinymde-toolbar {
        @height: 32px;
        transition: margin 600ms;

        &.hide {
            margin-bottom: -(@height + @2px * 2 + 1);
        }

        border: 1px solid @color-border;
        border-width: 1px 0 0 0;
        height: @height;
        padding: @2px @8px;
        display: flex;
        background-color: @color-background-alt;

        #tinymde-word-count {
            display: flex;
            align-self: flex-end;
            align-items: center;
            height: 100%;
            flex: 1;
            p {
                width: 100%;
                text-align: right;
                font-family: @font-default;
                font-size: 13px;
                color: @color-text-blend;
            }
        }

        .tinymde-cmd-group {
            display: flex;
            height: @height;
            border: 1px solid @color-border;
            border-width: 0 1px 0 0;
            margin-left: @4px;
            user-select: none;
            height: 100%;

            &:first-child {
                margin-left: 0px;
            }

            &:last-child {
                border-width: 0px;
            }

            .button-wrapper {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                margin-right: @4px;
                color: @color-text-blend;

                &:hover {
                    color: @color-highlight;
                }

                .tinymde-command {
                    @size: 20px;

                    cursor: pointer;
                    position: relative;
                    outline: 0px;
                    width: @size;
                    height: @size;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: @color-text-blend;

                    &:hover {
                        background-color: @color-highlight; 
                    }
                }

                .tinymde-cmd-bold {
                    -webkit-mask: url(../svg/bold.svg) no-repeat center;
                    mask: url(../svg/bold.svg) no-repeat center;
                }

                .tinymde-cmd-italic {
                    -webkit-mask: url(../svg/italic.svg) no-repeat center;
                    mask: url(../svg/italic.svg) no-repeat center;
                }

                .tinymde-cmd-strikethrough {
                    -webkit-mask: url(../svg/strikethrough.svg) no-repeat center;
                    mask: url(../svg/strikethrough.svg) no-repeat center;
                }

                .tinymde-cmd-header {
                    -webkit-mask: url(../svg/header.svg) no-repeat center;
                    mask: url(../svg/header.svg) no-repeat center;
                }

                .tinymde-cmd-ordered-list {
                    -webkit-mask: url(../svg/ordered-list.svg) no-repeat center;
                    mask: url(../svg/ordered-list.svg) no-repeat center;
                }

                .tinymde-cmd-unordered-list {
                    -webkit-mask: url(../svg/unordered-list.svg) no-repeat center;
                    mask: url(../svg/unordered-list.svg) no-repeat center;
                }

                .tinymde-cmd-blockquote {
                    -webkit-mask: url(../svg/blockquote.svg) no-repeat center;
                    mask: url(../svg/blockquote.svg) no-repeat center;
                }

                .tinymde-cmd-link {
                    -webkit-mask: url(../svg/link.svg) no-repeat center;
                    mask: url(../svg/blockquote.svg) no-repeat center;
                }

                .options {
                    display: none;
                    bottom: 30px;
                    position: absolute;
                    background-color: @color-background-alt;
                    border: 1px solid @color-border;
                    border-width: 0 0 1px 1px;
                    width: fit-content;

                    &.show {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        grid-row-gap: 0px;
                    }

                    .button-wrapper {
                        @size: 25px;
                        margin: 0px;
                        display: flex;
                        height: @size;
                        width: @size;
                        border: 1px solid @color-border;
                        border-width: 1px 1px 0 0;
                        
                        .tinymde-command {
                            background-color: transparent;
                            font-family: "editor-regular";
                            font-size: 13px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    #tinymde-editor {
        @font-size: 15px;
        
        flex: 1;
        height: 100%;
        font-family: "editor-regular";
        font-size: @font-size;
        outline: 0px;
        -webkit-font-smoothing: never;
        overflow-y: scroll;
        white-space: pre-wrap;
        caret-color: @color-highlight;
        padding: @32px 82px;
        line-height: (@font-size - 2px) * 2;

        .tinymde-paragraph.tinymde-blockquote {
            font-style: italic;
        }

        .md-strong {
            font-family: "editor-bold";
        }

        .md-strike {
            text-decoration: line-through;
        }

        .md-emphasize {
            font-style: italic;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background-color: @color-background;
        }
        &::-webkit-scrollbar-thumb {
            background: @color-text-blend;
        }
    }
}
