html, body {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#page-wrapper h1 {
    margin-top: 32px;
    margin-bottom: 0px;
    font-family: "editor-bold";
    text-align: center;
}

#page-wrapper h4 {
    margin: 8px 0 48px 0;
    font-family: "editor-regular";
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

#editor-wrapper {
    display: flex;
    width: 800px;
    height: 500px;
}

.show-small {
    display: none;
}

#footer {
    font-family: "editor-regular";
    font-size: 11px;
    margin-top: 32px;
    color: #AAA;
}

#footer a {
    color: black;
}

@media only screen and (max-width: 800px) {
    .show-small {
        display: block;
    }
    #page-wrapper h1 {
        font-size: 26px;
    }

    #page-wrapper h4 {
        margin-bottom: 24px;
        font-size: 14px;
    }

    #editor-wrapper {
        width: 100%;
    }
}